<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Clinical-Trial</a>
      <p class="navbar-text" *ngIf="isLoggedIn()">Signed in as {{currentUser().name}}</p>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <form *ngIf="!isLoggedIn()" class="navbar-form navbar-right" #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input [(ngModel)]="vm.credentials.email" type="email" id="email" name="email" class="form-control" placeholder="Email">
          <input [(ngModel)]="vm.credentials.password" type="password" id="password" name="password" class="form-control" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Login</button>
      </form>

      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!isLoggedIn()"><a href="#" (click)='signIn()' >Sign In</a></li>
        <li *ngIf="isLoggedIn()"><a href="#" (click)='logOut()' >Logout</a></li>
        <!-- <li *ngIf="isLoggedIn()"><p class="navbar-text">{{currentUser().name}}</p></li> -->
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
