<!DOCTYPE html>
<html>
  <head>
      <title>{{title}}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/bootstrap-4/css/amelia.bootstrap.css' />
      <link rel='javascript' href='/bootstrap-4/js/bootstrap.min.js' />
      <link rel='javascript' href='/javascripts/jquery-3.2.1.min.js' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
